<h1>profil</h1>
<ul>

        <li><%= user.firstname %> </li>
        <li><%= user.lastname %> </li>
        <li><%= user.mail %> </li>
        <li><%= user.tel %> </li>
        <li><%= user.city %> </li>
        <li><%= user.service %> </li>
        <li><%= user.tools %> </li>

</ul>
